@import url('https://fonts.googleapis.com/css?family=BioRhyme:200,300,400,700,800');

body {
  font-family: 'BioRhyme', serif;
  font-weight: 200;
}

.ToDos ul {
  margin: 0;
  padding: 0;
}

.ToDo {
  margin: 0;
  padding: 12px;
  font-size: 2em;
  list-style: none;
  border-bottom: 1px dotted silver;
}

.checkbox {
  height: 1em;
  width: 1em;
  padding: 0 10px;
  border-radius: 10px;
  color: white;
  margin-right: .5em;
  border: 1px solid silver;
  cursor: pointer;
}